openapi: 3.0.3
info:
  title: Anecdotario Commons Service API
  description: |
    Centralized shared functionality service for all Anecdotario entities (users, organizations).
    
    **Public API Endpoints**:
    - **Entity Search** (`GET /search`): Find users and organizations by nickname or full name
    
    **Internal Service Functions** (Lambda Invocation Only):
    - **Photo Management**: Multi-version photo processing and URL generation
    - **Nickname Validation**: Centralized uniqueness validation for users and organizations  
    - **User-Organization CRUD**: Entity management operations
    
    **Usage**:
    - **Frontend Applications**: Use the `/search` REST API for user/org discovery
    - **Backend Microservices**: Invoke internal Lambda functions directly for shared functionality
    
    **Security**: All endpoints require JWT authentication via AWS Cognito User Pool
  version: 2.0.0
  contact:
    name: Anecdotario Support
    email: support@anecdotario.com
  license:
    name: Proprietary
    
servers:
  - url: https://api.anecdotario.com/commons
    description: Production server
  - url: https://stage.api.anecdotario.com/commons
    description: Staging server
  - url: https://dev.api.anecdotario.com/commons
    description: Development server
    
security:
  - CognitoJWT: []

components:
  securitySchemes:
    CognitoJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: AWS Cognito JWT token for authentication
      
  schemas:
    Error:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: Error message
        code:
          type: string
          description: Error code
        details:
          type: object
          description: Additional error details
          
    SearchResult:
      type: object
      required:
        - entity_type
        - nickname
        - entity_id
      properties:
        entity_type:
          type: string
          description: Type of entity
          enum:
            - user
            - org
        nickname:
          type: string
          description: Entity nickname/identifier
          minLength: 3
          maxLength: 30
        entity_id:
          type: string
          description: Entity unique identifier
        display_name:
          type: string
          description: Human-readable display name
        full_name:
          type: string
          description: Full name (for users) or organization name
        avatar_url:
          type: string
          format: uri
          description: Avatar/logo thumbnail URL
        is_verified:
          type: boolean
          description: Whether the entity is verified
          default: false
        is_certified:
          type: boolean
          description: Whether the entity is certified
          default: false
        created_at:
          type: integer
          format: int64
          description: Unix timestamp when entity was created
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp when entity was last updated
          
    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/SearchResult'
          description: Search results
        pagination:
          type: object
          properties:
            total_count:
              type: integer
              description: Total number of results available
              minimum: 0
            page_size:
              type: integer
              description: Number of items per page
              minimum: 1
              maximum: 50
            current_page:
              type: integer
              description: Current page number (1-based)
              minimum: 1
            total_pages:
              type: integer
              description: Total number of pages
              minimum: 1
            has_next:
              type: boolean
              description: Whether there are more pages
            next_page:
              type: integer
              description: Next page number (if has_next is true)
              minimum: 2
        query_info:
          type: object
          properties:
            query:
              type: string
              description: Original search query
            normalized_query:
              type: string
              description: Normalized search query used
            search_type:
              type: string
              description: Type of search performed
              enum:
                - nickname_exact
                - nickname_prefix
                - full_name_contains
                - mixed
            filters_applied:
              type: object
              properties:
                entity_types:
                  type: array
                  items:
                    type: string
                  description: Entity types included in search
                verified_only:
                  type: boolean
                  description: Whether search was limited to verified entities
                certified_only:
                  type: boolean
                  description: Whether search was limited to certified entities
            execution_time_ms:
              type: number
              description: Query execution time in milliseconds
          
    PhotoUploadRequest:
      type: object
      required:
        - image
        - entity_type
        - entity_id
        - photo_type
      properties:
        image:
          type: string
          description: Base64 encoded image data with data URL prefix
          example: "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD..."
        entity_type:
          type: string
          description: Type of entity the photo belongs to
          enum:
            - user
            - org
            - campaign
        entity_id:
          type: string
          description: Unique identifier for the entity
          example: "john_doe"
        photo_type:
          type: string
          description: Type of photo being uploaded
          enum:
            - profile
            - logo
            - banner
            - gallery
            - thumbnail
        uploaded_by:
          type: string
          description: User ID of the uploader (optional)
          example: "user-123"
        upload_source:
          type: string
          description: Source service performing the upload
          enum:
            - user-service
            - org-service
            - campaign-service
            - api
            - admin
          default: api

    PhotoUploadResponse:
      type: object
      required:
        - success
        - photo_id
        - entity_type
        - entity_id
        - photo_type
      properties:
        success:
          type: boolean
          description: Whether the upload was successful
        photo_id:
          type: string
          description: Unique identifier for the uploaded photo
          example: "user_john_doe_profile_1694567890"
        entity_type:
          type: string
          description: Entity type the photo belongs to
          enum:
            - user
            - org
            - campaign
        entity_id:
          type: string
          description: Entity identifier
          example: "john_doe"
        photo_type:
          type: string
          description: Type of photo uploaded
          enum:
            - profile
            - logo
            - banner
            - gallery
            - thumbnail
        thumbnail_url:
          type: string
          format: uri
          description: Public URL for thumbnail version (150x150)
          nullable: true
        standard_url:
          type: string
          format: uri
          description: Presigned URL for standard version (320x320)
          nullable: true
        high_res_url:
          type: string
          format: uri
          description: Presigned URL for high resolution version (800x800)
          nullable: true
        versions:
          type: object
          description: Detailed information about each image version
          nullable: true
          properties:
            thumbnail:
              type: object
              properties:
                size:
                  type: integer
                  description: File size in bytes
                dimensions:
                  type: string
                  description: Image dimensions
                  example: "150x150"
            standard:
              type: object
              properties:
                size:
                  type: integer
                  description: File size in bytes
                dimensions:
                  type: string
                  description: Image dimensions
                  example: "320x320"
            high_res:
              type: object
              properties:
                size:
                  type: integer
                  description: File size in bytes
                dimensions:
                  type: string
                  description: Image dimensions
                  example: "800x800"
        processing_time:
          type: number
          description: Time taken to process the image in seconds
          nullable: true
          example: 0.542
        size_reduction:
          type: string
          description: Human-readable size reduction information
          nullable: true
          example: "75.2% (from 1048576 to 260000 bytes)"
        message:
          type: string
          description: Success or error message
          nullable: true
          example: "Photo uploaded successfully in 0.542s"
          
    PhotoDeleteResponse:
      type: object
      properties:
        message:
          type: string
          example: "Photo deleted successfully"
        deleted_objects:
          type: array
          items:
            type: string
          description: List of S3 objects that were deleted
        cleanup_info:
          type: object
          properties:
            database_records_removed:
              type: integer
              description: Number of database records removed
            s3_objects_deleted:
              type: integer
              description: Number of S3 objects deleted
            total_storage_freed_bytes:
              type: integer
              description: Total storage space freed in bytes
              
    PhotoRefreshResponse:
      type: object
      properties:
        message:
          type: string
          example: "Photo URLs refreshed successfully"
        photo_id:
          type: string
          description: Photo identifier
        urls:
          type: object
          properties:
            thumbnail_url:
              type: string
              format: uri
              description: Public URL for thumbnail version (unchanged)
            standard_url:
              type: string
              format: uri
              description: New presigned URL for standard version
            high_res_url:
              type: string
              format: uri
              description: New presigned URL for high resolution version
        url_expiry:
          type: object
          properties:
            standard_expires_at:
              type: integer
              format: int64
              description: Unix timestamp when standard URL expires
            high_res_expires_at:
              type: integer
              format: int64
              description: Unix timestamp when high-res URL expires
            expires_in_seconds:
              type: integer
              description: Seconds until URLs expire
              
    UserOrgEntity:
      type: object
      required:
        - nickname
        - user_type
        - created_at
      properties:
        nickname:
          type: string
          description: Unique nickname/identifier
          minLength: 3
          maxLength: 30
        user_type:
          type: string
          description: Type of entity
          enum:
            - user
            - org
        full_name:
          type: string
          description: Full name or organization name
          maxLength: 100
        display_name:
          type: string
          description: Display name for UI
          maxLength: 50
        email:
          type: string
          format: email
          description: Contact email address
        description:
          type: string
          description: Entity description or bio
          maxLength: 1000
        avatar_urls:
          type: object
          properties:
            thumbnail:
              type: string
              format: uri
            standard:
              type: string
              format: uri
            high_res:
              type: string
              format: uri
        website:
          type: string
          format: uri
          description: Website URL
        location:
          type: string
          description: Location or address
          maxLength: 100
        is_verified:
          type: boolean
          description: Whether entity is verified
          default: false
        is_certified:
          type: boolean
          description: Whether entity is certified
          default: false
        is_active:
          type: boolean
          description: Whether entity is active
          default: true
        privacy_level:
          type: string
          description: Privacy level setting
          enum:
            - public
            - protected
            - private
          default: public
        settings:
          type: object
          description: Entity-specific settings
          additionalProperties: true
        metadata:
          type: object
          description: Additional metadata
          additionalProperties: true
        created_at:
          type: integer
          format: int64
          description: Unix timestamp when created
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp when last updated
        last_activity_at:
          type: integer
          format: int64
          description: Unix timestamp of last activity
          
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Unauthorized - Valid JWT token required"
            code: "UNAUTHORIZED"
            
    ForbiddenError:
      description: Access forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Forbidden - Insufficient permissions"
            code: "FORBIDDEN"
            
    NotFoundError:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Resource not found"
            code: "NOT_FOUND"
            
    ValidationError:
      description: Invalid request data
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Validation failed"
            code: "VALIDATION_ERROR"
            details:
              field: "nickname"
              error: "Nickname must be between 3 and 30 characters"
              
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Internal server error"
            code: "INTERNAL_ERROR"
            
    PayloadTooLargeError:
      description: Request payload too large
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            message: "Photo file too large (max 5MB)"
            code: "PAYLOAD_TOO_LARGE"

paths:
  /search:
    get:
      tags:
        - Search
      summary: Search users and organizations
      description: |
        Search for users and organizations by nickname or full name. Returns matching entities with 
        their basic information including display name, avatar URL, and verification status.
        
        **How Search Works**:
        1. **Exact nickname match** - Returns user/org with exact nickname (e.g., "john_doe")
        2. **Nickname prefix match** - Returns entities whose nicknames start with query (e.g., "john" matches "john_doe", "johnny")  
        3. **Full name contains** - Searches within display names (e.g., "John" matches "John Smith", "Johnny Doe")
        
        **Example Usage**:
        - `GET /search?q=john_doe` - Find user with exact nickname "john_doe"
        - `GET /search?q=john&entity_type=user&limit=5` - Find up to 5 users starting with "john"
        - `GET /search?q=Company&entity_type=org&verified_only=true` - Find verified orgs containing "Company"
        
        **Response Data**:
        Each result includes: nickname, display_name, entity_type, avatar_url, verification status, creation date.
        
        **Filtering Options**:
        - `entity_type`: Limit to 'user' or 'org' only
        - `verified_only`: Return only verified entities  
        - `certified_only`: Return only certified entities
        - `limit`: Control result count (1-50, default: 10)
        - `page`: Pagination support
        
        **Security**: Requires valid JWT token. Returns only public entity information.
      operationId: searchEntities
      parameters:
        - name: q
          in: query
          required: true
          description: Search query (nickname or full name)
          schema:
            type: string
            minLength: 1
            maxLength: 100
          example: "john_doe"
        - name: entity_type
          in: query
          description: Filter by entity type
          schema:
            type: string
            enum:
              - user
              - org
          example: "user"
        - name: verified_only
          in: query
          description: Return only verified entities
          schema:
            type: boolean
            default: false
        - name: certified_only
          in: query
          description: Return only certified entities
          schema:
            type: boolean
            default: false
        - name: limit
          in: query
          description: Number of results to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - name: page
          in: query
          description: Page number for pagination (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        '200':
          description: Search results retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
              example:
                results:
                  - entity_type: "user"
                    nickname: "john_doe"
                    entity_id: "12345"
                    display_name: "John Doe"
                    full_name: "John Doe"
                    avatar_url: "https://anecdotario-photos-dev.s3.amazonaws.com/users/john_doe/profile/thumbnail_2024.jpg"
                    is_verified: true
                    is_certified: false
                    created_at: 1672531200
                    updated_at: 1672531200
                  - entity_type: "org"
                    nickname: "acme_corp"  
                    entity_id: "67890"
                    display_name: "ACME Corporation"
                    full_name: "ACME Corporation"
                    avatar_url: "https://anecdotario-photos-dev.s3.amazonaws.com/orgs/acme_corp/logo/thumbnail_2024.jpg"
                    is_verified: true
                    is_certified: true
                    created_at: 1672617600
                    updated_at: 1672617600
                pagination:
                  total_count: 2
                  page_size: 10
                  current_page: 1
                  total_pages: 1
                  has_next: false
                query_info:
                  query: "john"
                  normalized_query: "john"
                  search_type: "nickname_prefix"
                  execution_time_ms: 45.2
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/ServerError'
          

tags:
  - name: Search
    description: |
      **Entity Search Operations**
      
      Unified search across users and organizations with intelligent ranking and filtering.
      Primarily used by frontend applications for user/org discovery and selection.
      
  - name: Internal
    description: |
      **Internal Service Operations (Lambda Invocation Only)**
      
      The Commons Service provides additional functionality accessed via direct Lambda invocation by other microservices.
      These are not REST endpoints and are not accessible through the API Gateway.
      
      **Available Internal Functions**:
      - **Photo Operations**: Upload, delete, and refresh photo URLs with multi-version processing
      - **Nickname Validation**: Check nickname uniqueness across users and organizations
      - **User-Org CRUD**: Create, read, update, delete operations for user and organization entities
      
      **Usage**: Other services invoke these using `boto3.client('lambda').invoke()` with function names like:
      `anecdotario-{function-name}-{environment}` (e.g., `anecdotario-photo-upload-dev`)